

/*

SOURCES:
https://en.wikipedia.org/wiki/K-pop
Images - https://www.google.com/search?q=kpop&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiZmpn66_bjAhVHOs0KHe_TDr8Q_AUIESgB&biw=1536&bih=754&dpr=1.25
Murach's HTML and CSS, 4th Edition - Chapter 7 - Navigation  Bar
Murach's HTML and CSS, 4th Edition - Chapter 8 - Two or Three Column Layout
https://www.w3schools.com/css/

*/

/*Reset Selector*/
* {
	margin: 0;
	padding: 0;
}



main {
	float: left;
	width: 64%;
	height: 1200px;
}


main section {
	float: left;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-indent: 20px;
	font-family: "Trebuchet MS";
	font-style: normal;
	color: black;
	margin: 1em;
	text-align: left;
	background-color: white;
}

main aside {
	float: right;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 2em;
	padding-right: 2em;
	text-indent: 20px;
	font-family: "Trebuchet MS";
	font-style: normal;
	color: black;
	margin: 1em;
	text-align: left;
	background-color: white;
}

main a {
	font-style: normal;
	color: navyblue;
	padding-left: 20px;
	text-decoration: none;
	position: absolute;
	bottom: -1360px;
	right: 200px;
	font-weight: bold;
}

main a:hover {
	font-style: italic;
	color: #AD1457;
}

main a:focus {
	font-style: italic
	color: #AD1457;
}

main h2 {
	margin-top: 8em;
	padding-bottom: 0.2em;
	font-weight: bold;
	text-indent: 20px;
	color: white;
}

main section h2 {
	padding-top: 0em;
	padding-bottom: 0em;
	font-weight: bold;
	font-style: italic;
	font-size: 120%;
	color: black;
	margin-top: 1em;
}

main aside h2 {
	padding-top: 0em;
	padding-bottom: 0em;
	font-weight: bold;
	text-indent: 20px;
	font-style: italic;
	font-size: 120%;
	color: black;
	margin-top: 1em;
}

main section p {
	padding-top: 0em;
	padding-bottom: 1em;
	font-weight: normal;
	margin-left: 20px;
	margin-right: 20px;
}


main section h3 {
	padding-top: 0em;
	padding-bottom: 2em;
	font-weight: bold;
}


main section address {
	padding-bottom: 20px;
}

main section address a {
	font-style: normal;
	color: steelblue;
	text-decoration: none;
}

main section address a:hover {
	font-style: italic;
	color: #AD1457;
}

main section address a:focus {
	font-style: italic;
	color: #AD1457;
}

main article a {
	font-style: normal;
	color: navyblue;
	padding-left: 1em;
	padding-top: 1em;
	padding-right: 0.5em;
	padding-bottom: 0.5em;
	margin-bottom: 1em;
	text-decoration: none;
}

main article a:hover {
	font-style: italic;
	color: #AD1457;
}

main article a:focus {
	font-style: italic;
	color: #AD1457;
}


.go_up {
	padding: 1em 1.5em; 
	margin: 1em;
	font-size: 120%;
	font-weight: bold;
	position:fixed;
    bottom:0;
    right:0;
	color: white;
	border: 2px solid white;
}

footer {
	margin: auto;
	clear: both;
}

footer p {
	text-align: center;
	color: black;
	font-style: normal;
	clear: both;
	font-size: 80%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}
